[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.166"
chromadb = "==0.3.22"
llama-cpp-python = "==0.1.48"
urllib3 = "==1.26.6"
"pdfminer.six" = "==20221105"
instructorembedding = "*"
sentence-transformers = "*"
faiss-cpu = "*"
huggingface-hub = "*"
transformers = "*"
protobuf = "==3.20.0"
accelerate = "*"
bitsandbytes = "*"
click = "*"

[dev-packages]

[script]
ingest="python ingest.py"
gpt="python run_localGPT.py"
ingest_cpu="python ingest.py --device_type cpu"
gpt_cpu="python run_localGPT.py --device_type cpu"

[requires]
python_version = "3.10"
